/*$sans-serif: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
body {
  color: #333;
  text-align: center; }

header {
  height: 30vh;
  padding-top: 100px; }

section {
  width: 100%;
  padding-top: 30px; }

.project-container {
  padding-top: 200px; }

/*  --------  TYPOGRAPHY   --------  */
#logo {
  font-family: "Playfair Display", serif;
  font-weight: 900; }

.header {
  font-family: "Playfair Display", serif;
  margin-bottom: 45px; }

/*  --------  NAVIGATION  --------  */
.menu ul {
  list-style: none; }

div.menu {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center; }

.menu li {
  display: inline-block;
  position: relative;
  padding: 0 10%;
  text-transform: lowercase;
  font-size: 1.8rem;
  /*font-weight: 600;
  letter-spacing: 0.4em;
  font-size: 0.8em;*/ }
  .menu li a {
    text-decoration: none;
    color: inherit; }

/*  --------  ILLUSTRATION  --------  */
/*@-webkit-keyframes leftright{
  0%{left: 90%;}
  50%{left: 10%;}
  100%{left: 90%;}
}*/
#main-illustration img {
  width: 100%; }

/*  --------  QUOTE  --------  */
.quote {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  padding: 20px 0 150px; }

/*  --------  FOOTER  --------  */
footer {
  background-color: #eee;
  text-align: left;
  padding-top: 30px; }

/*  --------  PORTFOLIO SECTION  --------  */
section.main {
  padding: 0 0 50px;
  min-height: 850px; }

.project {
  width: 100%; }
  .project img {
    width: 100%;
    cursor: pointer; }

.project-details {
  display: none;
  text-align: left;
  font-family: "Courier New", Courier, monospace; }

@media (max-width: 800px) {
  .quote {
    font-size: 2.8rem; } }
.skills {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding-top: 30px;
  text-align: left; }

p {
  font-family: "Courier New", Courier, monospace; }

.title {
  font-family: "Playfair Display", serif; }

.project-details img {
  width: 100%; }

.adventure-story {
  padding-top: 30px; }

/*  --------  ANIMATION  --------  */
/* Replace the background colors, etc with an image */
.animated-object {
  position: absolute;
  z-index: 150; }

.macbook {
  left: 15%;
  width: 350px; }
  .macbook img {
    width: 100%; }

.moleskine {
  right: 15%;
  width: 350px; }
  .moleskine img {
    width: 100%; }

.airplane {
  left: 15%;
  width: 350px; }
  .airplane img {
    width: 100%; }

.adventure-story {
  text-align: left; }

/*  --------  CAROUSEL  --------  */
.carousel-wrapper {
  width: 90%;
  position: relative;
  margin: 5% auto 0; }

.carousel {
  width: 100%;
  position: relative;
  padding-top: 60%;
  overflow: hidden; }

.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/*  --------  CAROUSEL ANIMATION STYLES --------  */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0; }

.slide.active,
.slide.left,
.slide.right {
  z-index: 2;
  opacity: 1; }

.js-reset-left {
  left: auto; }

.slide.left {
  left: -100%;
  right: 0; }

.slide.right {
  right: -100%;
  left: auto; }

.transition .slide.left {
  left: 0%; }

.transition .slide.right {
  right: 0%; }

.transition .slide.shift-right {
  right: 100%;
  left: auto; }

.transition .slide.shift-left {
  left: 100%;
  right: auto; }

.transition .slide {
  transition-porperty: right, left, margin; }

/*  --------  CAROUSEL INDICATORS --------  */
.indicators {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding: 0;
  text-align: center; }

.indicators li {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #fff;
  list-style-type: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-out; }

.indicators li.active {
  background: #aaa; }

.indicators li:hover {
  background-color: #aaa; }

/*  --------  CAROUSEL ARROWS --------  */
.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  z-index: 5;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  cursor: pointer;
  transition: border-coler 0.3s ease-out; }

.arrow:hover {
  border-color: #aaa; }

.arrow-left {
  left: 20px;
  transform: rotate(225deg); }

.arrow-right {
  right: 20px;
  transform: rotate(45deg); }

/*  --------  CAROUSEL OPTIONAL STYLES --------  */
.slide {
  text-align: center;
  padding-top: 25%;
  background-size: contain; }

/*h1{
	width:100px;
  height:100px;
  background-color:rgba(146, 45, 141,0.7);
	margin:auto;
  line-height:100px;
	color:#fff;
	font-size:2.4em;
  border-radius:50%;
}*/
/*  --------  CAROUSEL IMAGES  --------  */
.slide:nth-child(1) {
  background-image: url(http://amandakievet.com/wp-content/uploads/2012/04/marrakesh.jpg); }

.slide:nth-child(2) {
  background-image: url(http://amandakievet.com/wp-content/uploads/2013/09/HCMC8_soup.jpg); }

.slide:nth-child(3) {
  background-image: url(http://amandakievet.com/wp-content/uploads/2013/09/IsleRoyal_campersdock.jpg); }

.slide:nth-child(4) {
  background-image: url(http://amandakievet.com/wp-content/uploads/2013/09/HCMC7_maniquins.jpg); }

/*# sourceMappingURL=styles.css.map */
